*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Mono', sans-serif;
    color: #ffffff;
}

.background-img{
    background-image: url('/louis-hansel-Zg7_HNM9H7I-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
    z-index: -1;
}

.background-black{
    width: 100%;
    height: 1000px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 0;

}