.nav-container{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 2em;
    

}

.nav-container ul {
    display: flex;
    justify-content: space-around;
    margin-inline: 20%;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    border-width: 1px;
}

.nav-container li{
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.logo{
    font-size: 1.5em;
    cursor: default;
}

.logo span{
    font-weight:900;
}


@media only screen and (max-width:900px){

.nav-container li, .logo {
    font-size: 0.9em;
}

.nav-container ul {
    margin-inline: 20px;
}

.nav-container li {
    margin-top: 12px;
    height: min-content;
}
.btn-nav {
    display: none;
}

    
}