.nav-container{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 2em;
    

}

.nav-container ul {
    display: flex;
    justify-content: space-around;
    margin-inline: 20%;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    border-width: 1px;
}

.nav-container li{
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.logo{
    font-size: 1.5em;
    cursor: default;
}

.logo span{
    font-weight:900;
}

.nav-container button {
    background-color: #ffffff;
    border-style: none;
    color: black;
    font-size: 1em;
    margin-block: 10px;
    padding-inline: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    transition: color 0.3s ease 0s;

    
}
.nav-container button:hover {
    background-color: #0d0e0f;
    color: #f8f9fa;
}

@media only screen and (max-width:900px){

.nav-container {
    font-size: 0.7em;
}

.nav-container ul {
    margin-inline: 20px;
}

.nav-container li {
    margin-top: 12px;
    height: min-content;
}
.nav-container button {
    display: none;
}

    
}